textarea {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  min-height: 150px;
}

.textarea-title,
.preview-title {
  margin-bottom: 8px;
}

.tweet-preview {
  word-break: break-all;
}

.textarea-container {
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  //width: 468px;
  width: 100%;
  min-height: 150px;

  .textarea-outer {
    padding: 15px;
  }
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  padding: 0 16px 16px 16px;
  width: 100%;
  color: #2f3638;

  .name {
    font-weight: bold;
    font-size: 14px;
    //color: #5d6366;

    a {
      font-weight: bold;
    }
  }

  .screen-name,
  .published-at {
    font-weight: normal;
    font-size: 12px;
    color: #5d6366;
  }

  p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
  }

  a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

.input-actions,
.tweet-actions {
  font-size: 16px;
  color: #777;

  i {
    display: inline-block;
  }
}

.input-actions {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #ccc;

  span {
    cursor: pointer;
  }
}

#input-image {
  opacity: 0.5;
}

.preview-image-container {
  margin: 0;
  padding: 0;
}

.preview-image {
  width: 100%;
  border: 1px solid #eee;
}

#date-picker {
  width: 150px;
}

#time-picker {
  width: 150px;
}

#not-published-tweets,
#published-tweets {
  //max-width: 540px;

  .alert {
    margin: 0;
    padding: 0;
  }

  .title {
    margin-bottom: 8px;
  }
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.hint {
  font-size: small;
}
